<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409504927956-tv9mknveg49rppl2blu4q226028l3g6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409504927956-tv9mknveg49rppl2blu4q226028l3g6v</string>
	<key>API_KEY</key>
	<string>AIzaSyDyETZlJx8UGr69eZN_kmq4NKOD3lahAKY</string>
	<key>GCM_SENDER_ID</key>
	<string>409504927956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joonwon.MyNetflix</string>
	<key>PROJECT_ID</key>
	<string>mynetflix-9bf85</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetflix-9bf85.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409504927956:ios:001a99b52980b1fc3d2b41</string>
	<key>DATABASE_URL</key>
	<string>https://mynetflix-9bf85-default-rtdb.firebaseio.com</string>
</dict>
</plist>