<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579151028308-d2tmjqqqu7uv7bkn66o4qlimaph6reac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579151028308-d2tmjqqqu7uv7bkn66o4qlimaph6reac</string>
	<key>API_KEY</key>
	<string>AIzaSyBNgWBHMjrozbdZVjImfA_i0ouu7R9L2GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>579151028308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>beomsoo.Beomstagram2</string>
	<key>PROJECT_ID</key>
	<string>beomstagram-e1864</string>
	<key>STORAGE_BUCKET</key>
	<string>beomstagram-e1864.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579151028308:ios:98287be9e7255726214dc1</string>
</dict>
</plist>